body {
	max-width: 1000px;
	margin: 0px auto;

	background-color: #eee;

	font-family: 'Josefin Sans';
}

/* Page header */
header {
	position: fixed;
	top: 0px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;

	background-color: white;
	box-shadow: 0px 4px 4px rgba(0,0,0, 0.2);
}

header h1 {
	text-align: center;
	white-space: pre;
}

header h1:before,
header h1:after {
	content: '――――――――';
	margin: 0px 4px;
	color: #ad213a;
}

.hamburger {
	position: fixed;

	font-size: 25px;
	line-height: 1;
}

nav {
	text-align: center;
}

nav.open {
	display: block;
}
nav.closed {
	display: none;
}

nav > a {
	display: block;
	margin: 5px;
	margin-top: 0px;
	padding: 10px;

	color: white;
	background-color: #ad213a;

	text-align: center;
}

nav > a:hover {
	background-color: #ba485c;
}

@media screen and (min-width:750px) and (max-width: 999px) {
	header h1 {
		white-space: normal;
	}

	.hamburger {
		display: none;
	}

	nav {
		/* fix whitespace between nav > a elements */
		letter-spacing: -0.31em; /* webkit */
		*letter-spacing: normal; /* reset IE < 8 */
		word-spacing: -0.43em; /* IE < 8 && gecko */
	}

	nav.closed {
		display: block;
	}

	nav > a {
		display: inline-block;
		width: 220px;
		
		/* fix whitespace between nav > a elements */
		zoom: 1; *display: inline; /* IE < 8: fake inline-block */
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
	}
}

@media screen and (min-width: 1000px) {
	header {
		width: 1000px;
	}
	
	.hamburger {
		display: none;
	}

	header h1 {
		white-space: normal;
	}

	nav.closed {
		display: block;
	}

	nav > a {
		display: inline-block;
		width: 130px;
		margin: 0px;
		margin-right: 5px;
	}

	nav > a:last-child {
		margin-right: 0px;
	}
}

/* Articles */
article {
	margin-top: 10px;
	margin-bottom: 10px;

	padding: 10px;

	background-color: white;
	box-shadow: 0px 2px 0px rgba(0,0,0, 0.2);

	text-align: center;
}

article > h2:before,
article > h2:after {
	display: block;
	content: '――――――――';
	margin: 0px 4px;
}

article table {
	width: 100%;
}

@media screen and (min-width:750px) and (max-width: 999px) {
	article > h2:before,
	article > h2:after {
		display: inline;
	}
}

@media screen and (min-width: 1000px) {
	article > h2:before,
	article > h2:after {
		display: inline;
	}
}

/* Links */
a {
	color: #ad213a;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Buttons */
input[type=submit],
button {
	padding: 10px;

	cursor: pointer;

	color: white;
	background-color: #ad213a;
	border: none;

	text-align: center;
	font-family: 'Josefin Sans';
}

input[type=submit]:hover,
button:hover {
	background-color: #ba485c;
}

input[type=submit]:active,
button:active {
	background-color: #ad213a;
	box-shadow: inset 2px 2px 0px rgba(0,0,0, 0.4);
	outline: none;
}
