<article>
	<h2>Lodge a murder</h2>
	
	<form method="POST" action="/murder">
		<input type="hidden" name="game" value="{{ game_id }}"></input>

		<fieldset>
			<p>
				<label for="murderer">Murderer</label>
				<select name="murderer" required>
				{% for player in players %}
					<option value="{{ player['id'] }}">
						{{ escape(player['name']) }} - {{ escape(player['type']) }}
					</option>
				{% end %}
				</select>
			</p>
			<p>
				<label for="victim">Victim</label>
				<select name="victim" required>
				{% for player in players %}
					<option value="{{ player['id'] }}">
						{{ escape(player['name']) }} - {{ escape(player['type']) }}
					</option>
				{% end %}
				</select>
			</p>
			<p>
				Continue below or
				<input type="submit" value="Lodge Murder"></input>
			</p>
		</fieldset>
		<fieldset>
			<p>
				<label for="datetime">Datetime</label>
				<input type="datetime-local" name="datetime"></input>
			</p>
		</fieldset>
		<fieldset>
			<p>
				<label for="location">Location</label>
				<select name="location" onchange="setLocation(this)">
					<option value="">Select a location</option>
					<option>SIT</option>
					<option>Women's College</option>
				</select>
			</p>
			<p>
				<input type="hidden" name="lat"></input>
				<input type="hidden" name="lng"></input>
			</p>
		</fieldset>

		<fieldset>
			<input type="submit" value="Lodge Murder"></input>
		</fieldset>
	</form>
	
	<script>
		var latLngs = {
			'SIT': {lat: -33.888216, lng: 151.194132},
			'Women\'s College': {lat: -33.890763, lng: 151.186772},
		};
		
		function setLocation(select) {
			var form = select.form;
			var location = select.value;
			form.lat.value = latLngs[location].lat;
			form.lng.value = latLngs[location].lng;
		}
	</script>
	<script>
		var d = new Date();
		var now = d.toISOString().slice(0, 11) + d.getHours() + ':' + d.getMinutes();
		var datetime = document.querySelector('input[type=datetime-local]');
		datetime.value = now;
	</script>
</article>
