<article>
	<h2>Lodge a murder</h2>
	
	<form method="POST" action="/murder" onsubmit="localiseDate(this)">
		<input type="hidden" name="game" value="{{ game_id }}"></input>

		<fieldset>
			<p>
				<label for="sel_victim">Victim</label>
				<select id="sel_victim" name="victim" required>
					<option></option>
				{% for player in players %}
					<option value="{{ player['id'] }}">
						{{ escape(player['name']) }} - {{ escape(player['type']) }}
						{% if player['death'] %}~ DEAD{% end %}
					</option>
				{% end %}
				</select>
			</p>
			<p>
				<label for="sel_murderer">Murderer</label>
				<select id="sel_murderer" name="murderer" required>
					<option></option>
				{% for player in players %}
					<option value="{{ player['id'] }}">
						{{ escape(player['name']) }} - {{ escape(player['type']) }}
						{% if player['death'] %}~ DEAD{% end %}
					</option>
				{% end %}
				</select>
			</p>
			<p>
				Continue below or
				<input type="submit" value="Lodge Murder"></input>
			</p>
		</fieldset>
		<fieldset>
			<p>
				<label for="datetime">Datetime</label>
				<input type="datetime-local" name="datetimeLocal"></input>
				<input type="hidden" name="datetime"></input>
			</p>
		</fieldset>
		<fieldset>
			<p>
				<label for="location">Location</label>
				<select name="location">
					<option disabled selected value="">Select a location</option>
				{% for location in locations %}
					<option value="{{ location.id }}">{{ location.name }}</option>
				{% end %}
				</select>
			</p>
		</fieldset>

		<fieldset>
			Add a new location below or
			<input type="submit" value="Lodge Murder"></input>
		</fieldset>

		{% include add_location.html %}

		<fieldset>
			<input type="submit" value="Lodge Murder"></input>
		</fieldset>
	</form>

  <script src="/static/js/lodgeMurder.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.js"></script>
	<script>
		var datetime = document.querySelector('input[type=datetime-local]');
		if (datetime.value === '')
			datetime.value = moment().format('YYYY-MM-DDTHH:mm');

		function localiseDate(form) {
			form.datetime.value = form.datetimeLocal.value + moment().format('ZZ');
		}
	</script>
</article>
