<!doctype html>

<html>
	<head>
		<title>NCSS Murder</title>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel="stylesheet" type="text/css">
		<link href="/static/css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<h1>
				<a href="/">NCSS Murder</a>
			</h1>
			<nav>
				<a href="/<% game.id %>/map">Map</a>
				<a href="/<% game.id %>/list">List</a>
				<a href="/<% game.id %>/stats">Stats</a>
				<a href="/<% game.id %>/profiles">Profiles</a>
				<a href="/<% game.id %>/achievements">Achievements</a>
				<a href="/<% game.id %>/admin">Admin</a>
			</nav>
		</header>
		<% content %>
		<script>
			var header = document.querySelector('header');
			var firstContent = document.querySelector('header + *');
			firstContent.style.marginTop = '140px';
		</script>
	</body>
</html>
