<article>
	<script src="/static/js/lib/jquery.min.js"></script>
	<script src="/static/js/lib/jquery.dynatable.js"></script>
	<link rel="stylesheet" href="/static/css/lib/jquery.dynatable.css" />

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Role</th>
				<th>Kill</th>
				<th>Achievement points</th>
				<th>Dead or Alive?</th>
				<th>Time of Death</th>
			</tr>
		</thead>
		<tbody>
		{% for player in profiles %}
			<tr>
				<td>{% raw template('profile_link.html', game_id=game_id, player_name=player.name) %}</td>
				<td>{{ player.type }}</td>
				<td>{{ len(player.murders()) }}</td>
				<td>{{ player.achievement_score() }}</td>
				{% if player.death == None %}
					<td>Dead</td>
				{% else %}
					<td>Alive</td>
				{% end %}
				<td>{{ " ".join(player.death.datetime.replace("T","+").split("+")[:2]) if player.death != None else None }}</tr>
			</tr>
		{% end %}
		</tbody>
	</table>
	<script>
		$.dynatableSetup({
			features: {
				paginate: false,
				sort: true,
				pushState: false,
				search: false,
				recordCount: false,
				perPageSelect: false
			}
		});
		$(document).ready(function() {
			$('table').dynatable({
				readers: {
					kill : function(el, record) {
						return Number(el.innerHTML) || 0;
					},
					achievementPoints : function(el, record) {
						return Number(el.innerHTML) || 0;
					}
				}
			});
		});
	</script>
</article>
