<article>
	<script src="/static/js/lib/jquery.min.js"></script>
	<script src="/static/js/lib/jquery.dynatable.js"></script>
	<link rel="stylesheet" href="/static/css/lib/jquery.dynatable.css" />

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Role</th>
				<th>Dead or Alive?</th>
			</tr>
		</thead>
		<tbody>
		{% for player in profiles %}
			<tr>
				<td>{% raw template('profile_link.html', game_id=game_id, player_name=player.name) %}</td>
				<td>{{ player.type }}</td>
				{% if player.death == True %}
					<td>Dead</td>
				{% else %}
					<td>Alive</td>
				{% end %}
			</tr>
		{% end %}
		</tbody>
	</table>
	<script>
		$.dynatableSetup({
			features: {
				paginate: false,
				sort: true,
				pushState: false,
				search: false,
				recordCount: false,
				perPageSelect: false
			}
		});
		$(document).ready(function() {
			$('table').dynatable();
		});
	</script>
</article>
